<div class="relative mx-auto max-w-screen-xl p-6">
  <div class="grid grid-cols-1 items-start gap-9 md:grid-cols-2">
    <div>
      <%= image_tag @product.image, class: "aspect-square w-full rounded-xl object-cover"%>
    </div>
    <div class="sticky top-0">
      <div class="flex flex-col justify-between">
        <div class="flex justify-between mb-6">
          <div class="max-w-[35ch]">
            <h1 class="text-2xl font-bold">
              <%= @product.name %>
            </h1>
            <p style="color: gray;">
            <%= @product.category %>
            </p>
          </div>
          <p class="text-2xl font-bold"><%= number_to_currency(@product.price, unit: "Â¥", strip_insignificant_zeros: true) %></p>
        </div>
        <div class="mb-3">
          <p>
            <%= @product.description %>
          </p>
        </div>
        <div class="mb-8">
          <% if @product.stock > 0 %>
            <span class="bg-blue-100 text-blue-800 text-xs font-semibold p-2 rounded">In stock (<%= @product.stock %>)</span>
          <% else %>
            <span class="bg-red-100 text-red-800 text-xs font-semibold p-2 rounded">Out of stock</span>
          <% end %>
        </div>
        <% if @product.stock > 0 %>
        <%= form_with model: @cart_item, data: { turbo: false } do |f| %>
          <%= f.hidden_field :product_id, :value => @product.id %>
          <%= f.submit "Add to Cart", class:"w-full cursor-pointer focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
          <% end %>
          <% end %>
          <% if @product && current_customer.orders.joins(:order_details).where(order_details: { product_id: @product.id }).exists? %>
            <% if (@product && @review) %>
            <%= link_to "ðŸ“ Edit your review", edit_product_review_path(@product.id, @review.id), class: "text-center w-full cursor-pointer focus:outline-none text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
            <% else %>
            <%= link_to "â­ï¸ Write a review", new_product_review_path(@product), class: "text-center w-full cursor-pointer focus:outline-none text-white bg-yellow-700 hover:bg-yellow-800 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2" %>
            <% end %>
          <% end %>
          
          <% if product_liked? %>
          <%= link_to product_like_path(product_id: @product.id, id: @like.id),  data: { "turbo-method": :delete }, class: "text-red-500 font-medium text-sm ml-2",style: "width: 45px;" do%>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="59" height="42" viewBox="0 0 45 32" preserveAspectRatio="none">
            <path fill="#cc3434" fill-rule="evenodd" d="M 2,7
            A 4,4 0,0,1 12,7
            A 4,4 0,0,1 22,7
            Q 22,14 12,21
            Q 2,14 2,7 z"/>
            </svg>
          <% end %>
        <% else %>
          <%= link_to product_likes_path(product_id: @product.id), data: { "turbo-method": :post }, class: "text-gray-400 font-medium text-sm ml-2", style: "width: 45px;" do%>
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="59" height="42" viewBox="0 0 45 32" preserveAspectRatio="none">
              <path fill="#c0bfbf" fill-rule="evenodd" d="M 2,7 A 4,4 0,0,1 12,7 A 4,4 0,0,1 22,7 Q 22,14 12,21 Q 2,14 2,7 z"/>
              </svg>
          <% end %>
        <% end %>        
              
      </div>
      </div>
      </div>
      <h3 class="text-gray-700 p-2 m-2 inline-block">Customer Reviews <%= "(#{@product.reviews.count})" if @product.reviews.any? %></h3>
      
      <div class="my-4">
  <% if @product.reviews.any? %>
    <% @product.reviews.each do |review| %>
      <div class="border p-4 mb-4 flex items-center justify-between">
        <div>
          <p class="font-bold">Rating:</p>
          <div class="flex">
            <% review.rating.times do %>
              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-5 w-5 text-yellow-500" viewBox="0 0 20 20">
                <path d="M10 1l2.5 6h6.5l-5 4.5 2 7.5-6-4.5-6 4.5 2-7.5-5-4.5h6.5l2.5-6z"/>
              </svg>
            <% end %>
          </div>
        </div>
        <div>
          <p class="font-bold">Reviewer:</p>
          <p><%= review.customer.name %></p>
        </div>
        <div>
          <p class="font-bold">Review:</p>
          <p><%= review.comment %></p>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>No reviews available for this product.</p>
  <% end %>
</div>


</div>
